{% extends "@imalabya/content/node.html.twig" %}
{% set createdDateTime = node.getCreatedTime|format_date('html_datetime') %}
{% set createdDate = node.getCreatedTime|format_date('default') %}
{% block content %}
	{{ attach_library("imalabya/node") }}
	{{ content.body }}
	<footer>
		<div>
			<label for="time">{{ "Posted on"|t }}</label>
			<time datetime={{ createdDateTime }}>{{ createdDate }}</time>
		</div>
		<div>
			{{ content.field_category }}
		</div>
		<div>
			{{ content.field_tags }}
		</div>
	</footer>
{% endblock %}
