{% extends "@imalabya/content/node.html.twig" %}
{% set createdDateTime = node.getCreatedTime|format_date('html_datetime') %}
{% set createdDate = node.getCreatedTime|format_date('post') %}
{% block header %}
	{{ attach_library("imalabya/blog") }}
	{{ breadcrumb }}
	{{ title_prefix }}
	<h1{{title_attributes}}>
		{{ label }}
	</h1>
	{{ title_suffix }}
	<div class="node__meta" aria-label="Metadata">
		<label>{{ "Posted on"|t }}</label>
		<time datetime={{ createdDateTime }}>{{ createdDate }}</time>
		<span>{{ "//" }}</span>
		{{ content.field_topics }}
	</div>
{% endblock %}
{% block content %}
	{{ content.body }}
	<section id="comments">
		{{ disqus }}
	</section>
	<footer aria-label="Blog pager - Previous and Next blogs">
		{% include "@im_prevnext/im-previous-next.html.twig" %}
	</footer>
{% endblock %}
