{#
/**
* @file
* Immplementation of teaser view mode of Blogs.
*/
#}
{% set createdDateTime = node.getCreatedTime|format_date('html_datetime') %}
{% set createdDate = node.getCreatedTime|format_date('post') %}
{{ attach_library('imalabya/blog-teaser') }}
<article class='b-entry'>
	<header class="b-title">
		{{ title_prefix }}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
		{{ title_suffix }}
	</header>
	<aside class="b-aside">
		<time datetime={{ createdDateTime }} class="visually-hidden">{{ createdDate }}</time>
		<span class="date">
			{{ node.created.value|date("d") }}
		</span>
		<span class="month-year">
			{{ node.created.value|date("F Y") }}
		</span>
	</aside>
	<div class="b-content">
		{{ content.body }}
		<label>{{ "Tags:" }}</label>
		{{ content.field_topics }}
	</div>
</article>
