{#
/**
* @file
* Default theme implementation to display the footer block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set year = "now"|date("Y") %}
<p>
	{% include "@imalabya/svg/code.html.twig" %}
	{{ " with "|t }}
	{% include "@imalabya/svg/love.html.twig" %}
	{% trans %}
	by Malabya &copy;
	{{ year }}. Powered by
	{% endtrans %}
	<a href="https://drupal.org">Drupal 9</a>
</p>
<div id="social">
	<h6 class="visually-hidden show-sm">Find me on the internet</h6>
	<a href="https://twitter.com/malavya88" target="_blank" rel="nofollow">{% include "@imalabya/svg/twitter.html.twig" %}
		<span class="visually-hidden">{{ "Twitter"|t }}</span>
	</a>
	<a href="https://www.drupal.org/u/imalabya" target="_blank" rel="nofollow">{% include "@imalabya/svg/drupal.html.twig" %}
		<span class="visually-hidden">{{ "Drupal"|t }}</span>
	</a>
	<a href="https://github.com/malabya" target="_blank" rel="nofollow">{% include "@imalabya/svg/github.html.twig" %}
		<span class="visually-hidden">{{ "Github"|t }}</span>
	</a>
	<a href="https://www.linkedin.com/in/malabyatewari/" target="_blank" rel="nofollow">{% include "@imalabya/svg/linkedin.html.twig" %}
		<span class="visually-hidden">{{ "LinkedIn"|t }}</span>
	</a>
	<a href="/rss.xml" target="_blank" rel="nofollow">{% include "@imalabya/svg/rss.html.twig" %}
		<span class="visually-hidden">{{ "RSS"|t }}</span>
	</a>
</div>
