<header id="header">
	<a href="{{ path('<front>') }}" rel="home" title="Home" class="site-logo">
		{% include "@imalabya/svg/logo.html.twig" %}
	</a>
	{{ page.navigation }}
</header>
{% block content %}
	<main>
		<div id="banner">
			{{ page.header }}
		</div>
		{{ page.help }}
		<div id="content">
			<a id="main-content" tabindex="-1"></a>
			{{ page.content }}
		</div>
	</main>
{% endblock %}
<footer id="footer">
	{% include "@imalabya/layout/footer.html.twig" %}
</footer>
