<header id="header">
	{{ page.branding }}
	{{ page.navigation }}
</header>
{% block content %}
	<main>
		<div id="banner">
			{{ page.header }}
		</div>
		{{ page.help }}
		<div id="content">
			<a id="main-content" tabindex="-1"></a>
			{{ page.content }}
		</div>
	</main>
{% endblock %}
<footer id="footer">
	{{ page.footer }}
</footer>
